.label {
  top: 0 !important;
  height: 28px;
  line-height: 28px;
  width: 34px;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background-color: transparent !important;
}

.thumb {
  background-color: var(--mantine-color-blue-6) !important;
  height: 28px !important;
  width: 34px !important;
  border: none !important;
}